html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.width-wrap {
    max-width: 960px;
    margin: 0 auto;
    padding-left: 2em;
    padding-bottom: 2em;
    padding-right: 2em;
    padding-top: 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top: none;
    margin-bottom: 3em;
    background-color: rgb(253, 236, 250);
    color: rgb(74, 0, 74);
}

footer hr {
    width: 50vw;
    min-width: 300px;
    max-width: 890px;
    margin-top: 3em;
    margin-bottom: 2em;
    border: none;
    border-bottom: 3px dotted rgb(106, 0, 88);
}

dl dt::after {
    content: ":";
}

body {
    background-color: rgb(255, 211, 247);
    color: rgb(106, 0, 88);
    font-family: "Baskervville", serif;
    line-height: 1.3;
}

h1,
h2,
h3 {
    color: rgb(54, 0, 45);
}

a {
    color: rgb(204, 0, 170);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header nav a {
    color: rgb(198, 69, 176);
    border-top: 4px solid transparent;
    display: inline-block;
    text-decoration: none;
    position: relative;
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
}

header nav a:hover {
    border-color: rgb(198, 69, 176);
    cursor: pointer;
    text-decoration: none;
}

::selection {
    background-color: rgb(219, 254, 254);
    color: rgb(0, 180, 255);
}

header {
    border-top: 4px solid rgba(0, 0, 0, 0.1);
    margin-left: -2em;
    margin-right: -2em;
}

header nav {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    padding-left: 2em;
    padding-right: 2em;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    list-style-type: none;
}

table td,
table th {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
}

thead th,
tfoot th,
tfoot td,
tbody th {
    background-color: rgba(0, 0, 0, 0.2);
}

tbody td {
    background-color: rgba(0, 0, 0, 0.05);
}

tbody tr:nth-child(even) td {
    background-color: rgba(0, 0, 0, 0.15);
}

label {
    display: block;
}

input[type="radio"]+label,
input[type="checkbox"]+label {
    display: inline;
}

button[type="submit"] {
    border: none;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
    color: white;
    background-color: rgb(20, 86, 240);
}

input:invalid,
textarea:invalid,
select:invalid {
    background-color: rgb(250, 204, 216);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cardo", serif;
}

ol {
    list-style-type: upper-roman;
}

fieldset ul {
    padding: 0;
    list-style-type: none;
}

h1 {
    background: #94BBE9;
    background: radial-gradient(circle, rgba(148, 187, 233, 1) 0%, rgb(255, 211, 247) 100%);
    text-align: center;
}

.bio {
    column-width: 13em;
    column-gap: 2em;
}

.bio table {
    column-span: all;
    display: table;
    margin-top: 1em;
    border-collapse: collapse;
}

.bio table caption {
    caption-side: bottom;
}

img {
    max-width: 100%;
}

img.me {
    padding: 2%;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

footer {
    font-size: 75%;
    text-align: center;
}

a[href="#top"] {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: -25px;
    position: sticky;
    bottom: 10px;
    display: inline-block;
    transition: transform 200ms ease-in-out;
}

a[href="#top"]:hover {
    text-decoration: none;
    transform: rotate(45deg);
}

iframe {
    border-radius: 2em 2em 0 2em;
}

.favourites label+div {
    display: none;
}

.favourites input[type="radio"]:checked+label+div {
    display: block;
    width: 100%;
    text-align: center;
    background: #fef8fd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    font-size: 1.1em;
}

.favourites input[type="radio"] {
    display: none;
}

.favourites {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.favourites label {
    order: -1;
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 10px;
    color: hsl(316, 15%, 64%);
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;
}

.favourites input[type="radio"]:checked+label h3 {
    color: rgb(198, 69, 176);
    border-bottom: 4px solid rgb(198, 69, 176);
    font-weight: bold;
}

#favourites-title {
    color: rgb(198, 69, 176);
}

.favourites label h3 {
    color: hsl(316, 15%, 64%);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
    ;
}

.gallery img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery .row-span-2 {
    grid-row: span 2;
}

.gallery .col-span-2 {
    grid-column: span 2;
}

.gallery a {
    transition: transform 0.3s ease;
}

.gallery a:hover {
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
}

.paperclip {
    background: none;
    box-shadow: none;
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
}

.bio a {
    display: inline-block;
    position: relative;
    width: fit-content;
}

@media (max-width: 450px) {
    .col-span-2 {
        grid-column: span 1;
    }
}

@media (max-width: 600px) {

    .courses thead,
    .courses th,
    .courses tfoot {
        display: none;
    }

    .courses td {
        display: block;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .bio table.courses caption {
        caption-side: top;
    }

    .courses td:first-of-type {
        padding-top: 0.3em;
        font-weight: bold;
    }

    .courses td:last-of-type {
        padding-bottom: 0.3em;
        font-style: italic;
        font-size: 0.8em;
    }

    .courses td:last-of-type::after {
        content: " hrs/wk";
    }
}

@media (max-width: 800px) {
    .favourites {
        flex-direction: column;
        align-items: stretch;
    }

    .favourites>label {
        order: 0;
        width: 100%;
        display: block;
        text-align: left;
        padding: 0.75rem 1rem;
        margin: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .favourites label+div {
        order: 1;
        width: 100%;
        display: none;
        box-sizing: border-box;
        padding: 1rem;
    }

    .favourites input[type="radio"]:checked+label+div {
        display: block;
    }

    .favourites input[type="radio"]:checked+label {
        color: rgb(198, 69, 176);
        font-weight: bold;
        border-bottom: 3px solid rgb(198, 69, 176);
    }

    .favourites input[type="radio"]:checked+label h3 {
        border-bottom: none;
    }
}

@media (max-width: 700px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
        height: 0;
        overflow: hidden;
        transition: height 200ms ease-in-out;
    }

    header nav a {
        padding-top: 0.5em;
        border-top: none;
    }

    header nav {
        padding-bottom: 1em;
    }

    header nav a:hover {
        border-top: none;
        text-decoration: underline;
    }

    .sandwich-icon {
        display: block;
        width: 40px;
        height: 25px;
        border-top: 5px solid rgb(198, 69, 176);
        cursor: pointer;
        margin: 1em auto;
        position: relative;
    }

    .sandwich-icon::before,
    .sandwich-icon::after,
    .sandwich-icon div {
        content: "";
        display: block;
        width: 40px;
        border-top: 5px solid rgb(198, 69, 176);
        position: absolute;
    }

    .sandwich-icon::before {
        top: 0px;
    }

    .sandwich-icon div {
        top: 8px;
    }

    .sandwich-icon::after {
        top: 16px;
    }
}

#menu-toggle,
.sandwich-icon {
    display: none;
}

#menu-toggle:checked+.sandwich-icon+ul {
    height: 200px;
}